@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray(); }

@* 

@{ IPublishedContent[]projectDropdown= Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias== "projectsMain").First().Children.Where("Visible").OrderBy(x => x.Name).ToArray();
}

*@


@{ var root = Model.Content.Site(); }

@if (selection.Length > 0)
{
   
      
 
}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AarhusWebDevCoopv2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            @foreach (var item in selection)
            {
                <li class="nav-item @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                    <a class="nav-link" href="@item.Url">@item.Name</a>
                </li>
            }


            @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @foreach (IPublishedContentpage in projectDropdown)
                </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#"><li>@page.Name</li>}</a>
                </div>
            </li>*@
        </ul>
    </div>
</nav>